<div class="dataTableContainer">
    <table class="dataTable">
        <thead>
            {{!-- Table Headers --}}
            <tr>
                {{#each headers}}
                <th>
                    {{this}}
                </th>
                {{/each}}
            </tr>
        </thead>

        <tbody>
            {{!-- Table contents --}}
            {{log tableData}}
            {{#each tableData}}
            <tr>
                {{#each this}}
                {{!-- {{log this}} --}}
                <td>
                    {{this}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>