<table class="dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Domenic</td>
            <td>6000</td>
            {{!-- <td>
                <button>rawr</button>
            </td> --}}
        </tr>
        <tr>
            <td>Melissa</td>
            <td>5150</td>
        </tr>
        <tr>
            <td>Nick</td>
            <td>5150</td>
        </tr>
        <!-- and so on... -->
    </tbody>

</table>