<div class="page_description">
    <p>
        This database will contain some of the pokemon found throughout the main games.
        Each Pokemon will contain its pokedex index number, name,
        typing, classification and more...

        For example we can use Bulbasaur to demonstrate what you'll be
        able to view from this creature!
    </p>
</div>
