<div class="poketables">
    <table border="1">
        <tbody>
            <tr>
                <th>Pokemon Name</th>
                <th>Pokedex Number</th>
                <th>Classification</th>
                <th>Type 1</th>
                <th>Type 2</th>
                <th>Abilities</th>
                <th>Generation of Origin</th>
                <th>Height in Meters</th>
                <th>Weight in Kilograms</th>
            </tr>
            <tr>
                <th>Bulbsaur</th>
                <th>1</th>
                <th>Seed Pokemon</th>
                <th>Grass</th>
                <th>Poison</th>
                <th>Overgrowth, Chlorophyll</th>
                <th>1</th>
                <th>0.7</th>
                <th>6.9</th>
            </tr>
        </tbody>
    </table>
</div>