<div class="page_description">
    <p>
        This database will contain all of the pokemon up to date, as of
        April 29th 2021.
        Each Pokemon will contain its pokedex index number, name,
        typing, classification and more...

        For example we can use Bulbasaur to demonstrate what you'll be
        able to view from this creature!
    </p>
</div>
