{{!-- You can pass in data from the rendering method,  --}}
<div class="SearchContainer">
    <input type="text" class="Search" name={{button.name1}}>
    <input type="button" class="Search" value={{input.name1}}>
    <input type="text" class="Search" name={{button.name2}}>
    <input type="button" class="Search" value={{input.name2}}>
</div>



