{{!-- You can pass in data from the rendering method, --}}
<div class="SearchContainer">
    <div class="SearchFlex">
        <form action="{{reqPath}}" class="getPokemon" method="post">
            <legend>Search The Database</legend>
            {{#each field}}
            <div class="formCol">
                <input class='form-control' type="text" name="{{id}}" id="{{id}}" placeholder="{{searchText}}">
            </div>
            {{/each}}
            <div class="formCol">
                
                <button type="submit" class="btn btn-primary form-btn">Search</button>
            </div>
        </form>
    </div>
</div>