<div class="TeamSearchContainer">
    <input type="text" name="teamName" id="teamNameSearch" placeholder="Team Search">
    <button>Add Team</button>
    <button>Edit Team</button>
    <button>Remove Team</button>
</div>
