<head>
    <title>Pokedex</title>
</head>
<body>
    <link rel="stylesheet" href="Styles/styles.css">

    <div id="top_menu">
        <span class="menu_buttons">The Pokedex Database - Group 67 (CoE Group) </span>
        <a href="index.html"   class="menu_buttons"  >Home</a>
        <a href="pokemon.html" class="menu_buttons" >Pokemon</a>
        <a href="pokedex.html" class="menu_buttons" >Pokedex</a>
        <a href="regions.html" class="menu_buttons" >Regions</a>
        <a href="types.html"   class="menu_buttons"  >Types</a>
        <a href="team.html"   class="menu_buttons"  >Teams</a>
        <a href="teamLink.html"   class="menu_buttons"  >Team Links</a>

    </div>
    {{{body}}}

    
</body>
