<head>
    <link rel="stylesheet" href="/Styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Pokedex</title>
</head>

<body>
 

    <div id="top_menu">
        <span class="menu_buttons">The Pokedex Database - Group 67 (CoE Group) </span>
        <a href="/" class="menu_buttons">Home</a>
        <a href="pokemon" class="menu_buttons">Pokemon</a>
        <a href="pokedex" class="menu_buttons">Pokedex</a>
        <a href="regions" class="menu_buttons">Regions</a>
        <a href="types" class="menu_buttons">Types</a>
        <a href="team" class="menu_buttons">Teams</a>
        <a href="teamLink" class="menu_buttons">Team Links</a>
    </div>

    {{{body}}}

    <div id="bottom_text">
        <span style="padding-right: 10px">Created by Josh Bell and Rudy Peralta</span>
        <a href="https://github.com/Exiled1/PokeDB">This is the Github Repo</a>
    </div>
</body>