<div class="page_description">
    <h4>
        This database will contain the first 151 of the pokemon found in 
        the first main games.
        Each Pokemon will contain its pokedex index number, name,
        typing, classification and more...

        For example this page will randomly take a pokemon from the
        first 151 available and will showcase their information, if you
        reload you be able to see another pokemon!
    </h4>
</div>

<div>
<!-- This is for spacing the page -->
</div>

{{> dataTable}}