<div class="page_description">
    <h4>
        This database will contain the first 151 of the pokemon found in 
        the first main games.
        Each Pokemon will contain its pokedex index number, name,
        typing, classification and more...

        For example we can use Bulbasaur to demonstrate what you'll be
        able to view from this creature!
    </h4>
</div>

<div>
<!-- This is for spacing the page -->
</div>

{{> dataTable}}