<div class="page_description">
    <h4>
        {{!-- Use this formatting to add word content --}}
        This page will contain an overview of specific pokemon, including
        their Name, Pokedex Number, Classification, Height, Weight,
        Generation, and Pictures.
    </h4>
</div>
<h2>
    {{words}}
</h2>
{{> searchForm}}
{{> dataTable}}
