<div>
    <h2 class="page_description">
        This page will contain an overview of specific pokemon, including
        their Name, Pokedex Number, Classification, Height, Weight,
        Generation, and Pictures.
    </h2>
</div>
<h2>
    {{words}}
</h2>
{{> getPokemon}}
{{> dataTable}}
