<h1> Pokemon Insert</h1>
<div class="page_description">
    <h4>
        This page will contain an overview of specific pokemon, including
        their Name, Pokedex Number, Classification, Height, Weight,
        Generation.
    </h4>
</div>

{{> insertForm}}
{{> dataTable}}
{{> pageDescription}}