<div class="page_description">
    <h4>
        This page is similar to the Pokemon Page but you can add Pokemon to the database.
        On the bottom is the entire database currently.
    </h4>
</div>

<div class="formContainer">
    {{> searchForm}}
    {{> insertForm}}
</div>
{{> dataTable}}