<h1> Team Insert</h1>
<div class="page_description">
    <h4>
        This page showcases the different teams of Pokemon on peoples teams
    </h4>
</div>

<div class="formContainer">
    {{> insertForm}}
</div>

{{> dataTable}}