<div class="page_description">
    <h4>
        This page showcases the different teams of Pokemon on peoples teams
    </h4>
</div>

<div class="formContainer">
    {{> searchForm}}
    {{> insertForm}}
</div>
{{> dataTable}}
