  
<div class="page_description">
    <h4>
        This page shows each pokemon with their typings, 
        you can also search by either names or types.
    </h4>
</div>

{{> searchForm}}
{{> dataTable}}