$button-padding: 5px 20px
$description-padding: 20px
$cell-padding: 10px
$title-padding: 300px
$big-font: 30px
$med-font: 20px
$sml-font: 15px

div
    padding: $description-padding

img
    padding: $cell-padding

#top_menu
    display: flex
    align-self: center
    padding: 0px
    background-color: #CC2A49

#top_menu_title
    display: flex
    justify-content: flex-start
    font-size: $big-font
    align-self: center
    padding-right: $title-padding

.menu_title
    align-self: center

#top_menu_nav
    display: flex
    align-self: center
    padding-left: $title-padding

.page_description
    display: flex
    font-size: $med-font
    text-align: center
    justify-content: center
    background-color: #EF4648

.poke_table_container
    display: flex
    flex-direction: column

.poketables
    display: flex
    justify-content: center
    background-color: #EF4648
    padding-bottom: $description-padding

.text
    display: flex
    justify-content: center

.menu_buttons
    display: flex
    justify-content: flex-start
    padding: $button-padding


.type_table_cell
    padding: $cell-padding


.SearchContainer
    display: flex
    justify-content: center

.Search
    padding: $button-padding

#bottom_text
    display: flex
    justify-content: center
    align-self: center
    position:  relative
    background-color: #F99E4C
    bottom: -100px
